<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="paginador">
	<ul class="pagination justify-content-center">
		<li class="page-item" th:classappend="${page.first ? 'disabled' : ''}">
			<a class="page-link" th:href="${not page.first} ? @{${page.url}(page=0)} : '#'" aria-label="First">
				<span aria-hidden="true">&laquo;&laquo;</span>
			</a>
		</li>
		<li class="page-item" th:classappend="${not page.hasPrevious ? 'disabled' : ''}">
			<a class="page-link" th:href="${page.hasPrevious} ? @{${page.url}(page=${page.paginaActual-2})} : '#'" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li class="page-item" th:each="item : ${page.paginas}" th:class="${item.actual ? 'active' : ''}">
			<a class="page-link" th:href="${not item.actual} ? @{${page.url}(page=${item.numero-1})} : '#'" th:text="${item.numero}">
				<span th:text="${item.numero}" th:if="${item.actual}"></span>
			</a>
		</li>
		<li class="page-item" th:classappend="${not page.hasNext ? 'disabled' : ''}">
			<a class="page-link" th:href="${page.hasNext} ? @{${page.url}(page=${page.paginaActual})} : '#'" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
		<li class="page-item" th:classappend="${page.last ? 'disabled' : ''}">
			<a class="page-link" th:href="${not page.last} ? @{${page.url}(page=${page.totalPaginas-1})} : '#'" aria-label="Last">
				<span aria-hidden="true">&raquo;&raquo;</span>
			</a>
		</li>
	</ul>
</nav>
</body>
</html>